<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://dojiw2m9tvv09.cloudfront.net/66454/1/mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<section id="navbar">
</section>

<section id="header" class="header pt-5 overflow-hidden">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="header-banner header-banner-1">
                    <div class="header-banner-text">
                        <h2 class="">Product 1</h2>
                        <h3 class="">50% Discount For This Season</h3>
                        <a href="#" class="btn btn-primary text-uppercase mt-4">Our products</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="header-banner header-banner-2">
                    <div class="header-banner-text">
                        <h2 class="">Product 1</h2>
                        <h3 class="">50% Discount For This Season</h3>
                        <a href="#" class="btn btn-primary text-uppercase mt-4">Our products</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="header-banner header-banner-3">
                    <div class="header-banner-text">
                        <h2 class="">Product 1</h2>
                        <h3 class="">50% Discount For This Season</h3>
                        <a href="#" class="btn btn-primary text-uppercase mt-4">Our products</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <i class="fas fa-chevron-left control-carousel"></i>
                </span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                    <i class="fas fa-chevron-right control-carousel"></i>
                </span>
        </button>
    </div>
</section>

<section id="products" class="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline text-center mb-5">
                    <h2 class="pb-3 position-relative d-inline-block">FEATURED PRODUCTS</h2>
                </div>
            </div>
        </div>
        <div class="row" id="products-list">

        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="col-sm-4 d-flex justify-content-center">
                <a href="/products.html" class="btn btn-primary text-uppercase">More products</a>
            </div>
        </div>
    </div>
</section>

<section id="special" class="special">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="headline text-center mb-5">
                    <h2 class="pb-3 position-relative d-inline-block">SUMMER SALE</h2>
                </div>
            </div>

            <div class="col-sm-12 col-lg-7 text-center text-lg-start">
                <div class="countdown-container">
                    <h2 class="text-uppercase">Sexy Women Floral Embroidery</h2>
                    <p class="my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    <ul class="list-unstyled countdown-counter">
                        <li><span class="fs-1 d-block" id="days">00</span> Days</li>
                        <li><span class="fs-1 d-block" id="hours">00</span> Hr</li>
                        <li><span class="fs-1 d-block" id="min">00</span> Min</li>
                        <li><span class="fs-1 d-block" id="sec">00</span> Sec</li>
                    </ul>
                    <span class="countdown-price h3 d-block mb-4">$420.00 <del>$670.00</del></span>
                    <button type="button" class="btn btn-primary">ADD TO CART</button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5">
                <div class="special-img position-relative">
                    <span class="">Sale</span>
                    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/special-deal-product-sale-promo-discount-offer-advert-retail-design-template-0826e157fd63bbb63db679495d5460fd_screen.jpg?ts=1561507290" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="contact">
        <div class="container ">
            <div class="headline mb-5 text-center ">
                <h5>Let’s Start a Conversation!</h5>
                <h2 class="fw-bold position-relative d-inline-block pb-3">Contact Us</h2>
            </div>

            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <h4 class="fw-bold">Contact Info</h4>
                    <ul class="info list-unstyled">
                        <li class="d-flex align-items-center">
                            <span class="pe-3 ti-location-pin fs-5"></span>
                            <p><a href="">Lorem ipsum dolor sit amet, consectetur.</a></p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="pe-3 ti-mobile fs-5"></span>
                            <p><a href="">+91 999-999-9999</a></p>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="pe-3 ti-envelope fs-5"></span>
                            <p><a href="">Info@eshop.in</a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-7 pt-lg-0 pt-md-0 pt-4">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="textarea" name="message" cols="30" rows="4" id="message" placeholder="Enter your message">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary">
                                    <i class="fas fa-paper-plane"></i>
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary py-5">
    <div class="container">
        <h1 class="text-light">Newsletter</h1>
    </div>
</section>

<footer class="footer">
    <div class="section-center">
        <div class="grid-footer">
            <div class="item-footer item1">
                <p>© 2021, <span class="jack">JACKSARI</span> All Rights Reserved.</p>
                <span>Powered By React and Gatsby</span>
            </div>
            <div class="item-footer item2">
                <h4>Quick Link</h4>
                <div class="links">
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                </div>
            </div>
            <div class="item-footer item3">
                <h4>Quick Link</h4>
                <div class="links">
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                    <a href="#">Advertins</a>
                </div>
            </div>
            <div class="item-footer item4">
                <h4>Quick Link</h4>
                <div class="social-links">
                    <a href="#">
                        <i class="fab fa-github"></i> Github
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i> Github
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>
        <div class="message">
            <p>Hecho con ❤️ en Perú para todo el mundo de habla hispana</p>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>
